<style>
  <%- include("./style.css") %>
</style>
<h1>
  HI, <%= name %> <br />
  We have received a reset password request from you, to reset your password. Please click on the link to verify and
  proceed.

  <a href="<%= link %>">Reset Password</a>

  If you haven't requested this please inform the support at earliest. Regards, My Invitation App, ONFRA Technologies
  Pvt. Ltd
</h1>
